.btn-guardar {
  background-color: #558c08;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgba(255, 251, 213, 0.555);
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 3rem;
}

.btn-guardar:hover {
  background-color: white;
  color: #3c5721;
}

.btn-cancelar {
  background-color: #bf7b6b;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgba(255, 251, 213, 0.582);
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 3rem;
}

.btn-cancelar:hover {
  background-color: white;
  color: #bf7b6b;
}

.modal-backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #74745262;
  backdrop-filter: blur(10px);
  z-index: 5;
}

.btn-next {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
  transition: all 0.1s;
  color: #4f5a3f;
  border: 0.15rem solid #4f5a3f;
  border-radius: 1rem;
  padding: 0.3rem 2rem;
}

.btn-next:hover {
  background-color: #4f5a3f;
  color: white;
  border: none;
}

.btn-next:disabled {
  background-color: #eceaea;
  color: #808180;
  border: 0.15rem solid #808180;
}

.btn-prev {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
  transition: all 0.05s;
  color: #4f5a3f;
  outline: 0.15rem solid #4f5a3f;
  border-radius: 2rem !important;
  padding: 0.3rem 2rem;
}

.btn-prev:hover {
  background-color: #4f5a3f !important;
  color: white !important;
  outline: none;
}

.btn-prev:disabled {
  background-color: #eceaea;
  color: #808180;
  border: 0.15rem solid #808180;
}

.btn-shadow {
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
}

.btn-light-shadow {
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgba(255, 251, 213, 0.212);
}
