.nav-pasajero {
  background-color: #f2cb05 !important;
}
.nav-motorista {
  background-color: #395d05 !important;
}
.nav-administrador {
  background-color: #bf7b6b !important;
}

.logo {
  width: 8rem;
  margin: 1rem;
}

.login-button {
  background-color: #558c08;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
  transition: all 0.5s;
  color: white;
}

.login-button:hover {
  background-color: white;
  color: #3c5721;
}

.logout-button {
  background-color: #d93d04;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -4px -1px 10px rgb(255, 251, 213);
  transition: all 0.5s;
  border: none;
  color: white;
}

.logout-button:hover {
  background-color: white;
  color: #d93d04;
}

.text-color-nav {
  color: #2b4905;
  transition: all 0.5s;
}

.text-color-nav-link {
  color: #2b4905;
  transition: all 0.5s;
}

.text-color-nav-link:hover {
  color: #fdfdfd;
}

.logo-text {
  font-family: "Coliner-ExtraBold" !important;
}

.icono {
  font-size: 1.5rem;
}

@media screen and (max-width: 980px) {
  .logo {
    width: 3rem;
    margin: 0;
  }

  .login-button {
    background-color: #71ae33;
    box-shadow: none;
  }

  .icono {
    font-size: 2rem;
  }
}
